/*CSS page test2.html*/
#headcontainer
{
	display: flex;
	justify-content: space-between;
	background-color: powderblue;
}

.entete
{
	margin: auto;
}

h1
{
    text-align: center;
}

.nom
{
    color: darkgoldenrod;
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: italic;
	font-size: 40px;
	opacity: 0.9;
	padding: 6px;
	border: 4px darkgoldenrod solid;
	border-bottom: 4px double;
	border-radius: 10px;
	box-shadow: 2px 2px 2px darkgoldenrod;
	text-shadow: 1px 1px 2px darkgoldenrod;
}

h2
{
	color: darkgoldenrod;
    text-align: center;
}
h2:hover
{
	text-decoration: underline;
}

.jiddu
{
	width: 39%;
	padding-left: 12px;
	padding-right: 12px;
	background-color: darkgoldenrod;
	border: 3px darkgoldenrod groove;
	border-radius: 20px;
	margin: auto;
}

.auteur
{
    font-style: italic;
    text-align:justify
}

#upcontainer
{
	display:flex;
	justify-content: space-between;
}

.email:hover
{
	color:darkgoldenrod
}

.middlecontainer
{
	display: flex;
}

h3, h4
{
	text-decoration: underline;
}

.experience
{
	width: 80%
}
.banzai
{
	width: 43%;
	padding-left: 12px;
	padding-right: 12px;
	margin: auto;
	border: 3px royalblue groove;
	border-radius: 20px;
}

article
{
	background-color: #FFFFFF;
}

h3
{
    color:royalblue;
    font-size:x-large;
}

h4
{
    color:royalblue;
    font-size:larger;
}

*

.flex-container
{
	display: flex;
	justify-content: space-around;
}

.em
{
	color: darkgoldenrod;
	font-family: "Times New Roman";
	font-weight: bold;
}

.deco
{
	background-image: url("images/texturenom.webp");
}


.profil
{
	text-decoration: underline;
}

aside
{
	display: flex;
	justify-content: center;
}

	font-size: 1.5em;
	text-decoration: underline;

.lien
{
	color: royalblue;
	text-align: center;
}

.pageweb
{
	opacity: 0.6;
}